---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getCollection } from "astro:content";
import BlogCard from "@components/blog/BlogCard.astro";
import { seoConfig } from "@constants/SEO";
import Title from "@components/shared/Title.astro";

const blogPost = await getCollection(
  "blog",
  (post) => post.data.isDraft === false
);
const { keywords, description, title } = seoConfig.blog;
---

<Layout title={title} description={description} keywords={keywords}>
  <Container>
    <Title title="Blog" />
    <main class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-2 md:mt-16">
      {blogPost.map((post) => <BlogCard post={post} />)}
    </main>
  </Container>
</Layout>
