@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Colores principales de la marca */
  --color-primary: #f44336; /* Rojo corporativo (logo) */
  --color-bluePrimary: #01476b; /* Azul institucional */

  /* Colores secundarios y de apoyo */
  --color-secondary: #ffa726; /* Naranja/Naranjo - simboliza energía y calidez animal */
  --color-accent: #4caf50; /* Verde natural - relacionado con alimentos y vida */

  /* Colores neutros y fondos */
  --color-fondo: #f5f5f5; /* Fondo claro principal */
  --color-aFondo: #ffffff; /* Fondo alternativo blanco puro */
  --color-texto: #333333; /* Texto principal oscuro */
  --color-texto-claro: #757575; /* Texto secundario */

  /* Componentes específicos */
  --color-navbar: var(
    --color-bluePrimary
  ); /* Navbar usando el azul corporativo */
  --color-footer: var(--color-bluePrimary); /* Footer igual al navbar */
  --color-botones: var(--color-primary); /* Botones principales en rojo */
  --color-bordes: #e0e0e0; /* Bordes sutiles */
}
