@layer utilities {
  /* Animación para el fade-in-up */
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.5s ease-out both;
    animation-delay: var(--animation-delay, 0);
  }

  /* Botón primario */
  .button-primary {
    @apply inline-flex items-center justify-center px-6 py-2.5 md:px-8 md:py-3 bg-[var(--color-primary)] hover:bg-[var(--color-primary)] text-white rounded-lg transition-all duration-300;
  }
}
/* Bullet genérico */
.swiper-pagination-bullet {
  @apply w-8 h-8 border-4 hover:opacity-75 shadow-md active:opacity-50 border-white bg-white mx-2 transition-all duration-300 rounded-sm ease-in-out hover:scale-110;
}

/* Bullet activo */

.swiper-pagination-bullet-active {
  @apply bg-[var(--color-primary)] border-none transition-all duration-300 ease-in-out opacity-100 shadow-lg;
  width: 2.5rem;
}
