---
import { Image } from "astro:assets";
import logo from "@assets/logo.avif";
---

<section class="mb-20">
  <div class="grid md:grid-cols-2 gap-12 items-center">
    <div class="space-y-6">
      <h2 class="text-3xl font-bold text-gray-900">Nuestra Trayectoria</h2>
      <p class="text-lg text-gray-600">
        Desde nuestros inicios en 2013, PROVECO se ha dedicado a proporcionar
        soluciones integrales para el cuidado y bienestar animal. Lo que comenz칩
        como una peque침a empresa familiar, se ha convertido en un referente en
        el sector veterinario.
      </p>
      <p class="text-lg text-gray-600">
        A lo largo de estos a침os, hemos expandido nuestra gama de productos y
        servicios, siempre manteniendo nuestro compromiso con la calidad y la
        innovaci칩n.
      </p>
    </div>
    <div class="relative h-96 rounded-xl overflow-hidden shadow-xl">
      <Image
        src={logo}
        alt="Historia de Proveco"
        class="object-cover w-full h-full"
      />
    </div>
  </div>
</section>
