---
import Container from "@components/Container.astro";
import { sections } from "@constants/sections";
import ContentCard from "./ContentCard.astro";
import SubTitle from "@components/shared/SubTitle.astro";
---

<div>
  <Container>
    <SubTitle subTitle="Lorem ipsum dolor sit amet." />
    <section
      class="flex flex-col md:flex-row justify-center items-center gap-8"
    >
      {sections.map((section) => <ContentCard {...section} />)}
    </section>
  </Container>
</div>
