---
import { Icon } from "astro-icon/components";
import Container from "@components/Container.astro";
import Title from "@components/shared/Title.astro";
---

<section class="">
  <Container>
    <Title title="Contactanos" />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Lado Izquierdo: Información de Contacto -->
      <div class="flex flex-col space-y-6">
        <!-- Tarjeta "Llámanos" -->
        <div class="bg-bluePrimary text-aFondo p-6 rounded-2xl shadow-lg">
          <div class="flex items-center space-x-4">
            <div class="p-3 bg-primary rounded-full">
              <Icon name="phone" size={24} class="text-aFondo" />
            </div>
            <h3 class="text-xl font-bold">Llámanos Directamente</h3>
          </div>
          <p class="text-4xl font-bold my-4">1254 - 234 - 19115234</p>
          <button
            class="bg-aFondo text-bluePrimary px-6 py-3 rounded-full font-medium hover:bg-fondo transition-all"
          >
            Contáctanos
          </button>
        </div>

        <!-- Tarjeta "Chatea con Nosotros" -->
        <div class="bg-primary text-aFondo p-6 rounded-2xl shadow-lg">
          <div class="flex items-center space-x-4">
            <div class="p-3 bg-bluePrimary rounded-full">
              <Icon name="email" size={24} class="text-aFondo" />
            </div>
            <h3 class="text-xl font-bold">
              Comunicate directamente con nuestro equipo
            </h3>
          </div>
          <p class="text-base font-medium my-4">email@proveco.com</p>
          <button
            class="bg-aFondo text-primary px-6 py-3 rounded-full font-medium hover:opacity-70 transition"
          >
            Contáctanos
          </button>
        </div>
      </div>

      <!-- Lado Derecho: Formulario de Contacto -->
      <div
        class="bg-aFondo p-8 rounded-2xl shadow-lg flex items-center justify-center"
      >
        <form class="space-y-4 text-texto">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input
              type="text"
              placeholder="Nombre"
              class="border border-[var(--color-bordes)] rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)]"
            />
            <input
              type="email"
              placeholder="Email"
              class="border border-[var(--color-bordes)] rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)]"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Número de Teléfono"
              class="w-full border border-[var(--color-bordes)] rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)]"
            />
          </div>
          <div>
            <textarea
              placeholder="Mensaje"
              rows="5"
              class="w-full border border-[var(--color-bordes)] rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)]"
            ></textarea>
          </div>
          <button
            type="submit"
            class="bg-primary cursor-pointer text-aFondo w-full py-3 rounded-lg font-medium hover:opacity-70 transition"
          >
            Enviar Mensaje
          </button>
        </form>
      </div>
    </div>
  </Container>
</section>
